body{
font-family: 'Poppins', sans-serif;

}
.img-gray{
    filter: grayscale(100%);
  
}



.img-size{
    width: 149px;
    height: 149px;
}
.fa-star{
    color: #E77C40;;
}


.hero-bg{
    background-color: #264653;
}

.hero-btn-explore{
    background-color: #E76F51;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
}
.text-title{
    color: #E76F51;
}
.text-color{
    color: #6C6C6C;
}
.primary-hero{
    color:  #23A6F0;
}
.prof-client{
    color: #252B42;
    
}
